@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic');


body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background-image: url("../img/background.jpg");
}

.uk-container {
    max-width: 1800px;
}

h1 {
    font-size: 55px;
    font-family:"Noto Sans KR", sans-serif;
    font-weight:700;
    font-style: normal;
    text-align: center;
    color: #fff;
    background: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero h2{
    color: #fff;

}


.circle-img{
    display: grid;
    border: 10px solid rgb(105, 102, 102);
    align-self: center;
    width: 140px;
    height: 140px;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    transition: border 0.3s ease,
                background-color 0.3s ease;
    overflow: hidden;

    img{
        width: 96px;
        height: 96px;
        border-radius: 0;
        transition: border-radius 0.3s ease;
    }
}

.circle-img:hover{
    border: 10px solid rgb(1, 98, 201);
    background-color: #09adc7;

    img{
        border-radius: 10px;

    }
}

.centered-item {
    display: grid;
    padding: 0 0 0 20px;
    margin:  0 0 20px;;
    justify-content: center;
    justify-items: center;
}


#top{
    background: rgba(0, 0, 0, 0.5);
}

#top h2 {
    font-size: 30px;
    margin-top: 20px;
}



.description-card{
    font-size: small;
    
}



/* 
.uk-navbar-right ul.uk-navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
} */

.uk-margin-large-top {
    margin-top: 10px !important;
}

/* .uk-accordion-contents {
    margin: 0;
    padding: 10px;
}

.uk-accordion li.uk-open {
    border-color: #ffffff;
    border: 3px solid rgb(210, 210, 210);
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
}

.uk-accordion li {
    border-color: #ffffff;
    border: 0px solid rgb(210, 210, 210);
    border-radius: 2px;
    transition: all 0.2s ease;
}

.uk-accordion li .delivery-programming-application-line .uk-accordion-title.uk-text-left {
    margin: 4px 10px 0px 10px;
}

.uk-accordion li .company-description-heading-line.uk-accordion-title.uk-text-left {
    margin: 4px 10px 0px 10px;
} */

.my-margin {
    margin-left: 4vw;

}

.logo {
    width: auto;
    height: 70px;
    margin-left: 10px;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    min-height: 64.5px;
}

.uk-button-text::before {
    color: #000000;
}


.my-navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar-left, .navbar-center, .navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right {
    margin-right: 10px;
    flex-direction: column;
}

*+address, *+dl, *+fieldset, *+figure, *+ol, *+p, *+pre, *+ul {
    margin-top: 0;
}

.company-addres {
    margin-bottom: 6px;
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 15px;
    margin-top: 0;
    margin-left: 30px   ;
}

.phone-number {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #17548e;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    /* float: right; */
    margin-left: auto;
}

.phone-number span {
    margin-right: 10px;
    /* Отступ между иконкой и текстом */
    color: #17548e;
    /* Цвет иконки */
}

.phone-number:hover {
    text-decoration: underline;
}


#servers span {
    background: #f2f2f2;
    color: aliceblue;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin: 10px 0 10px 0;  
}

.uk-card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    background-color: white;
}

.uk-card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}

.additional-info {
    margin-top: 30px;
}



.additional-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.service-card:hover .additional-info {
    opacity: 1;
}



@media (max-width:960px) {

    h1 {
        font-size: 40px;
    }

    .uk-text-center strong {
        font-size: 20px;
        margin-top: 15px;
    }
}

/* @media (max-width: 730px) {
    .logo {
        margin-right: 30px ;
    }
} */

@media (max-width: 500px) {

    #servers span{
        font-size: 20px;
        padding: 10px;
    }

} 

@media (min-width: 1200px) {
    *+.uk-grid-margin, .uk-grid+.uk-grid, .uk-grid>.uk-grid-margin {
        margin-top: 15px;
    }
    .description-card{
        font-size: medium;
    }
}


